<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxufe.dao.CheckItemMapper">

    <!--新增检查项-->
    <insert id="add" parameterType="CheckItem">
        INSERT INTO t_checkitem(CODE, NAME, sex, age, price, TYPE, attention, remark)
          VALUES
        (#{code},#{name},#{sex},#{age},#{price},#{type},#{attention},#{remark})
    </insert>

    <!--预约管理的分页模糊查询-->
    <select id="selectByCondition" resultType="CheckItem" parameterType="java.lang.String">
        select * from t_checkitem
        <if test="value != null and value.length > 0">
            where code = #{value} or name = #{value}
        </if>
    </select>

    <!--根据ID查找检查项-->
    <select id="findById" resultType="CheckItem">
        select * from t_checkitem where id = #{id}
    </select>

    <!--修改检查项-->
    <update id="edit" parameterType="checkitem">
        update t_checkitem
        <set>
            <if test="code != null and code.length > 0">
                code = #{code},
            </if>
            <if test="name != null and name.length > 0">
                name = #{name},
            </if>
            <if test="sex != null and sex.length > 0">
                sex = #{sex},
            </if>
            <if test="age != null and age.length > 0">
                age = #{age},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="attention != null and attention.length > 0">
                attention = #{attention},
            </if>
            <if test="remark != null and remark.length > 0">
                remark = #{remark},
            </if>
            <if test="type != null and type.length > 0">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--查询所有检查项-->
    <select id="findAll" resultType="CheckItem">
        select * from t_checkitem
    </select>

</mapper>